<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Knut</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>knut</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>knut.icns</string>
			<key>CFBundleTypeName</key>
			<string>Knut Constants File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>NSDocumentClass</key>
			<string>cfile</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Knut</string>
	<key>CFBundleGetInfoString</key>
	<string>A numerical continuation software</string>
	<key>CFBundleIconFile</key>
	<string>knut.icns</string>
	<key>CFBundleIdentifier</key>
	<string>uk.ac.bristol.knut</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLongVersionString</key>
	<string>1.2.2</string>
	<key>CFBundleName</key>
	<string>Knut</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>LSRequiresCarbon</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2002-2009, Robert Szalai</string>
</dict>
</plist>
